body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #ffffff;
    position: relative;
    flex-flow: column;
    text-rendering: optimizeLegibility;
}

.container {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    color: #333333;
    user-select: none;
    top: 30%;
}

.header {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
}

h1 a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: 16px;
}

h1, h2 {
    position: relative;
}

.link-list {
    letter-spacing: 1.5px;
}

.short-introduction {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.short-introduction p {
    line-height: 2em;
}

p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
}

p a {
    color: #999999;
    text-decoration: none;
    transition: color .2s ease;
}

a:hover {
    color: #0080FF;
}
